/* Header */
.header {
    background-color: maroon;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .header .animated-text {
    overflow: hidden;
    white-space: nowrap;
    font-size: 32px;
    animation: typing 3s steps(40, end);
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Footer */
  .footer {
    background-color: maroon;
    color: white;
    padding: 20px 0;
  }
  
  /* Register box */
  .register-form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .register-form label {
    color: maroon; /* Changed to maroon */
  }
  
  .register-form button.btn-primary {
    background-color: maroon; /* Changed to maroon */
    border-color: maroon; /* Changed to maroon */
  }
  
  .register-form button.btn-primary:hover {
    background-color: #800000;
    border-color: #800000;
  }
  
  /* Body background image */
  body {
    background-image: url('images/sarees.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  